<section>
    <table>
        <tr>
            <th></th>
            <th ng-repeat="day in ec.event.dates">
            {{day | date: 'EEEE, MMMM d'}}
            </th>
        </tr>
        <tr>
            <td>midnight</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>1am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>2am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>3am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>4am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>5am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>6am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>7am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>8am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>9am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>10am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>11am</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>noon</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>1pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>2pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>3pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>4pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>5pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>6pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>7pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>8pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>9pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>10pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
        <tr>
            <td>11pm</td>
            <td ng-repeat="day in ec.event.dates"></td>
        </tr>
</section>