<section flex layout="row" layout-align="center center">
    <md-card id="event-card" flex layout="row">
        <md-content flex="85" class="schedule-content">

            <md-grid-list md-cols="8" md-row-height="50px">
                <md-grid-tile></md-grid-tile>
                <md-grid-tile ng-repeat="day in ec.event.dates">
                    {{day | date: 'EEEE, MMMM d'}}
                </md-grid-tile>
            </md-grid-list>
            <md-grid-list class="schedule-display" md-cols="8" md-row-height="25px" ng-repeat="hour in ec.times">
                <md-grid-tile>
                    {{ec.timeDisplay[hour]}}
                </md-grid-tile>
                <md-grid-tile md-rowspan="2" class="schedule-tile" ng-repeat="day in ec.event.dates">
                    <md-button class="time-select" aria-label="Event schedule cell" 
                        ng-class="ec.availabilityClass(day, hour, ec.missingPersons)" ng-click="ec.checkAvailability(day, hour, $event)">
                    </md-button>                            
                </md-grid-tile>
                <md-grid-tile>
                </md-grid-tile>
            </md-grid-list>

            <!-- <table flex="100" layout="row">
                <tr flex="100" layout="row">
                    <th flex="12"></th>
                    <th flex="12" ng-repeat="day in ec.event.dates" class="table-header">
                    {{day | date: 'EEEE, MMMM d'}}
                    </th>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">midnight</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 0, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">1am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 1, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">2am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 2, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">3am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 3, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">4am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 4, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">5am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 5, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">6am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 6, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">7am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 7, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">8am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 8, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">9am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 9, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">10am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 10, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">11am</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 11, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">noon</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 12, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">1pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 13, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">2pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 14, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">3pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 15, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">4pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 16, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">5pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 17, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">6pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 18, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">7pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 19, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">8pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 20, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">9pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 21, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">10pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 22, ec.missingPersons)"></md-button>
                    </td>
                </tr>
                <tr flex layout="row">
                    <td flex="12" class="time-cell">11pm</td>
                    <td flex="12" ng-repeat="day in ec.event.dates" class="table-cell">
                        <md-button class="time-select" aria-label="Event schedule cell" ng-class="ec.availabilityClass(day, 23, ec.missingPersons)"></md-button>
                    </td>
                </tr>
            </table> -->
        </md-content>
        <div flex="15">
            <md-button ng-click="ec.updateAvailability()">Update Availability</md-button>
            <md-radio-group ng-model="ec.missingPersons">
                <md-radio-button ng-repeat="attendee in ec.event.attendees" ng-value="ec.event.attendees.length - $index">
                    {{$index}}
                </md-radio-button>
            </md-radio-group>
            <md-button ng-click="ec.leaveEvent()">Leave event</md-button>
        </div>
    </md-card>
</section>