<section flex layout="row" layout-align="center center">
    <md-card id="event-card" flex layout="row">
        <md-content flex="85" class="schedule-content">
            <md-grid-list md-cols="8" md-row-height="50px">
                <md-grid-tile></md-grid-tile>
                <md-grid-tile ng-repeat="day in ec.event.dates">
                    {{day | date: 'EEEE, MMMM d'}}
                </md-grid-tile>
            </md-grid-list>
            <md-grid-list class="schedule-display" md-cols="8" md-row-height="25px" ng-repeat="hour in ec.times">
                <md-grid-tile>
                    {{ec.timeDisplay[hour]}}
                </md-grid-tile>
                <md-grid-tile md-rowspan="2" class="schedule-tile" ng-repeat="day in ec.event.dates">
                    <md-button class="time-select" aria-label="Event schedule cell" 
                        ng-class="ec.availabilityClass(day, hour, ec.missingPersons)" ng-click="ec.checkAvailability(day, hour, $event)">
                    </md-button>                            
                </md-grid-tile>
                <md-grid-tile>
                </md-grid-tile>
            </md-grid-list>
        </md-content>
        <div flex="15">
            <md-card layout-align="center center">
                <md-card-title>
                    Show availability for...
                </md-card-title>
                <md-radio-group ng-model="ec.missingPersons">
                    <md-radio-button ng-repeat="attendee in ec.event.attendees" ng-value="ec.event.attendees.length - $index">
                        {{ec.radioText($index)}}
                    </md-radio-button>
                </md-radio-group>
            </md-card>
            <md-button ng-click="ec.updateAvailability()">Update Availability</md-button>
            <md-button ng-click="ec.leaveEvent()">Leave event</md-button>
        </div>
    </md-card>
</section>