
<div id="home-content-section">
    <md-card id="welcome-box">
        <md-card-title-text id="welcome-title">
            <b>Welcome</b>
        </md-card-title-text>
        <md-card-header-text id="welcome-subheader">
            Choose an event, or create a new one!
        </md-card-header-text>
    </md-card>
    <div flex layout-padding layout="row">
        <md-content md-whiteframe="4" flex="50" id="home-content">
            <md-toolbar id="home-list-header-bar">
                <span class="md-toolbar-tools" id="home-list-header">
                    <b>your events</b>
                </span>
            </md-toolbar>
            <md-list>
                <md-list-item class="home-list-item" ng-repeat="event in uc.eventData.events" 
                ng-if="event.confirmed === false" ng-click="uc.showConfirmation(event.name,event._id, $event)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ event.name }}</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>  
        <md-content md-whiteframe="4" flex="50" id="home-content">
            <md-button class="md-raised" id="create-button" ng-click="uc.create()"><i>new event</i></md-button>
        </md-content>
    </div>
</div>

    <!-- <div class="my-events">
        <ul>
            <li ng-repeat="event in uc.eventData.events" ng-if="event.confirmed === false" class="event-item-unconfirmed"
            ng-dblclick="uc.showConfirmation(event.name,event._id, $event)"><i>{{event.name}} (unconfirmed)</i></li>
        </ul>
        <ul>
            <li ng-repeat="event in uc.eventData.events" ng-if="event.confirmed === true" class="event-item-confirmed"
            ng-dblclick="uc.getEvent(event._id)">{{event.name}}</li>
        </ul>
    </div>
<div>
    <button ng-click="uc.create()">Create new event</button>
</div> -->

